{% extends 'base.html' %}{% load unicorn %}
{% block page_title %}Arthropodes{% endblock %}

{% block title %}Arthropodes{% endblock %}

{% block content %}
  <div class="container-fluid">
         <div class="container-fluid">
             <div class="card">
                 <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4">Fiches d'élevage d'arthropodes</h5>
                     <a href="{% url 'card:arthropod-new' %}" class="btn btn-outline-primary mb-3" title="TerrarioPedia - Ajouter une fiche d'élevage d'arthropode">Nouvelle fiche</a>
                     {% unicorn 'arthropod-list' quantity="0" %}
                 </div>
             </div>
         </div>
</div>
{% endblock %}