{% extends 'base.html' %}
{% load unicorn %}
{% block page_title %}Accueil{% endblock %}

{% block content %}
    <div class="container-fluid">
         <div class="container-fluid">
             <div class="card">
                 <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4">Accueil</h5>
                        {% unicorn 'amphibian-list' quantity="4" %}
                        {% unicorn 'arthropod-list' quantity="4" %}
                        {% unicorn 'lizard-list' quantity="4" %}
                        {% unicorn 'snake-list' quantity="4" %}
                 </div>
             </div>
         </div>
    </div>
{% endblock %}