{% load thumbnail %}{% load static %}
<div class="row">
    <div class="col-md-4">
        {% thumbnail turtle.image "400x300" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="card-img-top"
                 alt="TerrarioPedia - Tortues - Fiche d'élevage {{ turtle.get_scientific_name }}"/>
        {% endthumbnail %}
        <div class="row mt-1">
            <hr />
            <div class="col-sm-6">
                <b>Difficulté de détention</b><br />
                {% if turtle.difficulty_care == 'N' %}
                <img src="{% static 'assets/images/jauges/1.png' %}" class="img-fluid" width="150" height="90" title="TerrarioPedia - Fiches d'élevage - Tortues - {{ turtle.get_scientific_name }}" />
                {% endif %}
                {% if turtle.difficulty_care == 'B' %}
                <img src="{% static 'assets/images/jauges/2.png' %}" class="img-fluid" width="150" height="90" title="TerrarioPedia - Fiches d'élevage - Tortues - {{ turtle.get_scientific_name }}" />
                {% endif %}
                {% if turtle.difficulty_care == 'E' %}
                <img src="{% static 'assets/images/jauges/3.png' %}" class="img-fluid" width="150" height="90" title="TerrarioPedia - Fiches d'élevage - Tortues - {{ turtle.get_scientific_name }}" />
                {% endif %}
                {% if turtle.difficulty_care == 'X' %}
                <img src="{% static 'assets/images/jauges/4.png' %}" class="img-fluid" width="150" height="90" title="TerrarioPedia - Fiches d'élevage - Tortues - {{ turtle.get_scientific_name }}" />
                {% endif %}
            </div>
            <div class="col-sm-6">
                <strong>Danger de la morsure</strong><br />
                {% if turtle.bite_dangerosity == 'I' %}
                <img src="{% static 'assets/images/jauges/1.png' %}" class="img-fluid" width="150" height="90" title="TerrarioPedia - Fiches d'élevage - Tortues - {{ turtle.get_scientific_name }}" />
                {% endif %}
                {% if turtle.bite_dangerosity == 'P' %}
                <img src="{% static 'assets/images/jauges/2.png' %}" class="img-fluid" width="150" height="90" title="TerrarioPedia - Fiches d'élevage - Tortues - {{ turtle.get_scientific_name }}" />
                {% endif %}
                {% if turtle.bite_dangerosity == 'D' %}
                <img src="{% static 'assets/images/jauges/3.png' %}" class="img-fluid" width="150" height="90" title="TerrarioPedia - Fiches d'élevage - Tortues - {{ turtle.get_scientific_name }}" />
                {% endif %}
                {% if turtle.bite_dangerosity == 'E' %}
                <img src="{% static 'assets/images/jauges/4.png' %}" class="img-fluid" width="150" height="90" title="TerrarioPedia - Fiches d'élevage - Tortues - {{ turtle.get_scientific_name }}" />
                {% endif %}
            </div>
            <hr />
        </div>
        <p>
            {{ turtle.more_informations }}
        </p>
        <hr />
        <a href="{% url 'card:turtle-edit' turtle.slug %}" class="btn btn-warning btn-block" title="TerrarioPedia - Tortues - Fiches d'élevage de {{ turtle.get_scientific_name }} - Editer">Editer</a><br />
        <strong>Dernière modification</strong><br /> {{ turtle.last_owner }} - {{ turtle.last_update|date:"d F Y" }}
    </div>
    <div class="col-md-6">
        <h2>{{ turtle.get_scientific_name }}</h2>
        <p>Espèce{% if not turtle.is_cites %} non{% endif %} CITES
            {% if turtle.bern_convention_annex %}- annexe {{ turtle.bern_convention_annex }}{% endif %}</p>
        <strong>Description</strong>
        <div class="table-responsive">
            <table class="table search-table align-middle text-nowrap">
                <tbody>
                    <tr class="search item">
                        <td scope="row">Taille des juvéniles</td>
                        <td>{{ turtle.juvenil_size }} cm</td>
                    </tr>
                    <tr class="search item">
                        <td scope="row">Taille des adultes</td>
                        <td>{{ turtle.adult_size }} cm</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <strong>Biologie</strong>
        <div class="table-responsive">
            <table class="table search-table align-middle text-nowrap">
                <tbody>
                    <tr class="search item">
                        <td scope="row">Espérance de vie</td>
                        <td>{{ turtle.life_expectancy }} ans</td>
                    </tr>
                    <tr class="search item">
                        <td scope="row">Moeurs principal</td>
                        <td>{{ turtle.get_main_mores_display }}</td>
                    </tr>
                    <tr class="search item">
                        <td scope="row">Tempérament</td>
                        <td>{{ turtle.get_main_behavior_display }}</td>
                    </tr>
                    <tr class="search item">
                        <td scope="row">Période d'activité</td>
                        <td>{{ turtle.get_activity_period_display }}</td>
                    </tr>
                    <tr class="search item">
                        <td scope="row">Type d'environnements</td>
                        <td>{{ turtle.get_type_of_turtle_display }}</td>
                    </tr>
                    <tr class="search item">
                        <td scope="row">Reproduction</td>
                        <td>{{ turtle.get_reproduction_display }}</td>
                    </tr>
                    <tr class="search item">
                        <td scope="row">Période de reproduction</td>
                        <td>
                            {% for reproduction_period in turtle.reproduction_period.all %}
                                {{ reproduction_period }}{% if not forloop.last %}<br /> {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr class="search item">
                        <td scope="row">Proies</td>
                        <td>
                            {% for prey in turtle.preys.all %}
                                {{ prey }}{% if not forloop.last %}<br /> {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <strong>Environnements</strong>
        <div class="table-responsive">
            <table class="table search-table align-middle text-nowrap">
                <tbody>
                    <tr class="search item">
                        <td scope="row">Distribution</td>
                        <td>{{ turtle.distribution }}</td>
                    </tr>
                    <tr class="search item">
                        <td scope="row">Biotopes</td>
                        <td>
                            {% for biotop in turtle.biotops.all %}
                            {{ biotop }}{% if not forloop.last %}<br /> {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <strong>En captivité</strong>
        <div class="table-responsive">
            <table class="table table-responsive search-table align-middle text-nowrap">
                <tbody>
                    <tr class="search item">
                        <td scope="row">Difficulté de détention</td>
                        <td>{{ turtle.get_difficulty_care_display }}</td>
                    </tr>
                    <tr class="search item">
                        <td scope="row">Dimension du Terrarium</td>
                        <td>{{ turtle.vivarium_size }} cm</td>
                    </tr>
                    <tr class="search item">
                        <td scope="row">Température jour / nuit</td>
                        <td>{{ turtle.day_temperature }} / {{ turtle.night_temperature }}</td>
                    </tr>
                    <tr class="search item">
                        <td scope="row">Humidité</td>
                        <td>{{ turtle.humidity }}</td>
                    </tr>
                    <tr class="search item">
                        <td scope="row">Dimension du Terrarium</td>
                        <td>{{ turtle.vivarium_size }} cm</td>
                    </tr>
                    <tr class="search item">
                        <td scope="row">Vie en communauté</td>
                        <td>
                            {% for life_community in turtle.life_community.all %}
                            {{ life_community }}{% if not forloop.last %}<br /> {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr class="search item">
                        <td scope="row">Dangerosité de la morsure</td>
                        <td>{{ turtle.get_bite_dangerosity_display }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
