{% extends 'base.html' %}
{% load unicorn %}
{% load crispy_forms_tags %}
{% block page_title %}Formulaire de petites annonces{% endblock %}
{% block title %}Formulaire de petites annonces{% endblock %}

{% block content %}
  <div class="container-fluid">
         <div class="container-fluid">
             <div class="card">
                 <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4">Formulaire de petites annonces</h5>
                       {% unicorn "ads-form" %}
                 </div>
             </div>
         </div>
</div>

{% endblock %}
