{% extends 'base.html' %}
{% load unicorn %}
{% block page_title %}{{ flatpage.title}}{% endblock %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}
    <div class="container-fluid">
         <div class="container-fluid">
             <div class="card">
                 <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4">{{ flatpage.title }}</h5>
                        {{ flatpage.content|linebreaks }}
                 </div>
             </div>
         </div>
    </div>
{% endblock %}